@font-face {
  font-family: "iconfont"; /* Project id 5168726 */
  src: url('iconfont.woff2?t=1777363812454') format('woff2'),
       url('iconfont.woff?t=1777363812454') format('woff'),
       url('iconfont.ttf?t=1777363812454') format('truetype');
}

.icon-chat1:before {
  content: "\e675";
}

.icon-book:before {
  content: "\e676";
}

.icon-floor:before {
  content: "\e655";
}

.icon-news-filling:before {
  content: "\e68a";
}

.icon-arrow:before {
  content: "\e619";
}

.icon-search:before {
  content: "\e648";
}

.icon-chat:before {
  content: "\e650";
}

.icon-home:before {
  content: "\e61a";
}

.icon-category:before {
  content: "\e63b";
}

.icon-file:before {
  content: "\e6b4";
}

.icon-setting:before {
  content: "\e657";
}

